.container {
    display: flex;
    flex-direction: column;
    height: 100%;
    .input-fields {
        margin-top: 10%;
        flex-grow: 1;
        .input-field {
            width: 40%;
            @media (max-width: 767px) {
                width: 80%;
            }
            &:not(:first-child) {
                margin-top: 35px;
            }
        }
    }

    .links {
        margin-bottom: 10%;
    }

    .form-error {
        width: 40%;
        margin: auto;
        padding: 4px 0;
        margin-bottom: -10px;
        font-size: 12px;
        @media (max-width: 767px) {
            width: 80%;
            
        }
    }
}