<table>
  <tr>
    <th class="email">Email</th>
    <th class="name">Name</th>
    <th class="test">Test</th>
    <th class="started">Started</th>
    <th class="completed">Progress</th>
  </tr>
  <tr>
    <td class="email">Email_tefgfdhdfhdghst@gmail.com</td>
    <td class="name">FirstName Lastname</td>
    <td class="test">Food Managment</td>
    <td class="started">01.01.2021</td>
    <td class="completed">80%</td>
  </tr>
  <tr class="odd">
    <td class="email">Email_tefgfdhdfhdghst@gmail.com</td>
    <td class="name">FirstName Lastname</td>
    <td class="test">Food Managment</td>
    <td class="started">01.01.2021</td>
    <td class="completed">30%</td>
  </tr>
</table>
