.btn {
    min-height: 46px;
    width: 320px;
    border: 1px solid transparent;
    border-radius: 25px;
    display: block;
    margin: 18px auto;
    background-color: white;
    text-transform: capitalize;
    font-size: 18px;
    box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    &.primary {
        //border-color: inherit;
    }
    &.warning {
        //border-color: inherit;
    }
    &.danger {
        //border-color: inherit;
    }

    &:focus:active, &:focus, &:active {
        outline: none;
    }
    &:active:hover{
        //text-shadow: 0px 1px lightblue;
        padding-top: 3px; //for modal use 2px
        //box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
        box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
        box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset!important;
    }

    &:hover:not(:disabled) {
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        
    }
    &:disabled {
        cursor: not-allowed;
        &.tooltip {
            position: relative;
            &:hover::before {
                content: attr(data-tooltip);
                position: absolute;
                top: -35px;
                text-align: center;
                left: 50%;
                transform: translate(-50%);
                background-color: #388cb1;
                color: white;
                font-size: 14px;
                padding: 5px 7px;
                border-radius: 2px;
            }
            &:hover::after{
                content: "";
                position: absolute;
                top: -9px;
                text-align: center;
                left: 50%;
                transform: translate(-50%);
                width: 0; 
                height: 0; 
                border-left: 5px solid transparent;
                border-right: 5px solid transparent;
                border-top: 5px solid #388bc1;
            }
        }
    }

    
}