/* You can add global styles to this file, and also import other style files */
@import "normalize.css";
@import "colors.scss";
@import "buttons.scss";
@import "inputs.scss";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
}

.primary {
    color: #388cb1;
}
.warning {
    color: #ef9a00;
}
.danger {
    color: #c5485f;
}
.bg-danger {
    background-color: #f08484;
}

.text-gray {
    color: #666666;
}
.text-center {
    text-align: center;
}

.font-400 {
    font-weight: 400;
}

a {
    cursor: pointer;
}

.container-centered {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.container {
    width: 100%;
    margin: auto;
    @media (min-width: 1024px) {
        width: 768px;
    }
}

.capitalize {
    text-transform: capitalize;
}

.tooltip-danger {
    position: relative;
    &:hover::before {
        content: attr(data-tooltip);
        position: absolute;
        top: -35px;
        text-align: center;
        left: 50%;
        transform: translate(-50%);
        background-color: #f08484;
        color: white;
        font-size: 14px;
        padding: 5px 7px;
        border-radius: 2px;
    }
    &:hover::after{
        content: "";
        position: absolute;
        top: -9px;
        text-align: center;
        left: 50%;
        transform: translate(-50%);
        width: 0; 
        height: 0; 
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 5px solid #f08484;
    }
}