<div class="container">
  <h2 class="text-center font-400 primary">User details</h2>
  <div class="user">
    <div class="user-details txt-gray">
      <div>{{user.name}}</div>
      <div>{{user.email}}</div>
      <div class="edit-delete">
        <a class="edit tooltip-primary" data-tooltip="Edit" [routerLink]="['../userupdate']" [queryParams]="{ name: user.name, id: user.id, email: user.email }"><span></span></a>
        <a class="delete tooltip-danger" data-tooltip="Delete" (click)="openDeleteModal()"><span></span></a>
      </div> 
    </div>
    <div class="tests-history">
      <h3 class="font-400 primary">Tests history</h3>
      <table>
        <tr>
          <th class="test">Test</th>
          <th class="status">Status</th>
          <th class="assigned">Assigned</th>
          <th class="completed">Completed</th>
        </tr>
        <tr>
          <td class="test">Menu test</td>
          <td class="status">Completed</td>
          <td class="assigned">01-01-2021</td>
          <td class="completed">01-06-2021</td>
        </tr>
        <tr class="odd">
          <td class="test">Kitchen managment</td>
          <td class="status">In progress</td>
          <td class="assigned">01-01-2021</td>
          <td class="completed">*****</td>
        </tr>
      </table>
    </div>
  </div>
</div>
