.user {
    padding: 0 30px;
    @media (max-width: 767px) {
        padding: 0 16px;
    }

    .user-details {
        display: flex;
        margin-top: 50px;
        justify-content: space-between;

        
        .name {
            display: flex;
            div:first-child {
                margin-right: 30px;
                margin-bottom: 5px;
            }
            @media (max-width: 767px) {
                display: block;
            }
        }
        .edit-delete {
            display: flex;
            align-items: center;
            .edit {
                position: relative;
                span{
                    width: 50px;
                    display: inline-block;
                    &::before {
                        content: "";
                        background-image: url(./../../../../assets/edit-3.svg);
                        background-repeat: no-repeat;
                        background-size: contain;
                        position: absolute;
                        top: 0px;
                        left: 50%;
                        transform: translate(-50%);
                        width: 22px;
                        height: 22px;
                    }
                }
            }
            .delete {
                position: relative;
                span {
                    width: 60px;
                    display: inline-block;
                    &::before {
                        content: "";
                        background-image: url(./../../../../assets/trash-pink-2.svg);
                        background-repeat: no-repeat;
                        background-size: contain;
                        position: absolute;
                        top: 0px;
                        left: 50%;
                        transform: translate(-50%);
                        width: 22px;
                        height: 22px;
                    }
                }
            }
        }
    }

    .tests-history {
        margin-top: 50px;
        table {
            text-align: left;
            color: #666666;
            width: 100%;
            th, td {
                padding: 7px 0 7px 5px;
                word-break: break-word;
                &.test {width: 35%;}
                &.status {width: 25%;}
                &.assigned {width: 15%;}
                &.completed {width: 15%;}
            }
            th {
                font-size: 15px;
                border-bottom: 1px solid #eef1f2;
            }
            td {
                font-size: 14px;
            }
            tr {
                &.odd {
                    background-color: #eef1f2;
                }
            }
        }
    }
}