
<div class="container">
  <h2 class="text-center font-400 primary">Assign Test</h2>
  <div class="input-fields">
    <form [formGroup]="myForm" (ngSubmit)="onSubmit()" novalidate autocomplete="off">    
      <div class="input-field primary">
        <input type="email" id="email" class="primary"  (focus)="onFocus(); emailOnFocus = true" (blur)="emailOnFocus = false" formControlName="email" required #emailInput>
        <label for="email" [ngClass]="{'active': email.value || emailOnFocus}">Email</label>
        <span class="clear" *ngIf="email.value" (click)="clearInput('email')"></span>
      </div>
      <div *ngIf="email.errors && (email.dirty || email.touched )" class="form-error danger">
        <span *ngIf="email.errors.required">Email required</span>
        <span *ngIf="email.errors.email">Wrong email format</span>
      </div>
      <div class="input-field primary">
        <input type="email" id="confEmail" class="text-gray"  (focus)="onFocus(); confEmailOnFocus = true" (blur)="confEmailOnFocus = false" formControlName="confEmail" autocomplete="new-password">
        <label for="confEmail" [ngClass]="{'active': confEmail.value || confEmailOnFocus}">Confirm Email</label>
        <span class="clear" *ngIf="confEmail.value" (click)="clearInput('confEmail')"></span>
      </div>
      <div *ngIf="confEmail.errors && (confEmail.dirty || confEmail.touched )" class="form-error danger">
        <span *ngIf="confEmail.errors.required">Email required</span>
      </div>
      <div *ngIf="myForm.errors" class="form-error danger">
        <span *ngIf="myForm.errors.mismatch && confEmail.value">Email mismatch</span>
      </div>
      <div class="input-field primary">
        <select class="capitalize" id="test" formControlName="test" (focus)="onFocus(); testOnFocus = true" #testOption>
          <option selected value="" disabled></option>
          <option *ngFor="let testItem of tests; let i=index" value="{{testItem.id}}">{{testItem.name}}</option>
        </select>
        <label for="test" [ngClass]="{'active': test.value}">Select test</label>
        <span class="clear select" *ngIf="test.value" (click)="clearInput('test')"></span>
      </div>


    </form>
  </div>
  <div class="links">
      <button class="btn primary tooltip" data-tooltip="Complete all fields" (click)="onSubmit()" [disabled]="myForm.invalid">Submit</button>
      <button class="btn danger" [routerLink]="['../']">Cancel</button>
  </div>
</div>
